<div class="contact-container">
    <div class="content-container">
        <div class="heading">
            CONTACT
        </div>
        <div class="para">
            Want to say "Hey!"? Got something you'd like to ask? New project or opportunity? Want to hire me? Ping me!
            <br>
            <br>
            Dropping a line to say g’day, ask for my resume or see if we can build something amazing together? I’d love
            to hear from you!
        </div>
        <div class="button">
            <button>
                Say Hello
            </button>
        </div>
        <div class="social-bar">
            <div class="seperator">
            </div>
            <div class="social-icons-container">
                <div class="social-icon" style="border-radius: 10px;">
                    <img src="../../../assets/images/linkedIn.webp">
                </div>
                <div class="social-icon">
                    <img src="../../../assets/images/github.png">
                </div>
                <div class="social-icon">
                    <img src="../../../assets/images/facebook.png">
                </div>
                <div class="social-icon">
                    <img src="../../../assets/images/leetCode.png">
                </div>
            </div>
        </div>
    </div>
</div>