<div class="about-container">
    <div class="content-container">
        <div class="heading">
            ABOUT ME
            <br>
        </div>
        <div class="para">
            <br>
            Hi! 👋 I'm Hrithik(pronounced without "H"s). I enjoy automation through code.
            And I make awesome things for awesome people!<br><br>

            Whatever the tools used, I thrive on bringing ideas to life.
            I take pride in crafting innovative solutions with polished user experiences.
            This whilst possessing a keen eye for scalability, accessibility, performance
            and well-structured code.
        </div>
    </div>
</div>