<div class="skill-and-tools-container">
    <div class="content-container">
        <div class="heading">
            SKILL AND TOOLS
            <br>
        </div>
        <div class="para">
            My Toolbox and the things I am Proficient in:
        </div>
    </div>
    <div class="skills-container">
        <div class="skill">
            <div class="caption">
                Angular
            </div>
            <img src="../../../assets//images/angular.png">
        </div>
        <div class="skill">
            <div class="caption">
                HTML
            </div>
            <img src="../../../assets//images/html.png">
        </div>
        <div class="skill">
            <div class="caption">
                CSS
            </div>
            <img src="../../../assets//images/css.png">
        </div>
        <div class="skill">
            <div class="caption">
                TypeScript
            </div>
            <img src="../../../assets//images/ts.png">
        </div>
        <div class="skill">
            <div class="caption">
                Material
            </div>
            <img src="../../../assets//images/angular-material.png">
        </div>
        <div class="skill">
            <div class="caption">
                Three.js
            </div>
            <img src="../../../assets//images/three.png">
        </div>
    </div>
    <div class="skills-container">
        <div class="skill">
            <div class="caption">
                Git
            </div>
            <img src="../../../assets//images/git.png">
        </div>
        <div class="skill">
            <div class="caption">
                Express.js
            </div>
            <img src="../../../assets//images/expressjs.png">
        </div>
        <div class="skill">
            <div class="caption">
                Spring Boot
            </div>
            <img src="../../../assets//images/spring.png">
        </div>
        <div class="skill">
            <div class="caption">
                SQL
            </div>
            <img src="../../../assets//images/sql.png">
        </div>
        <div class="skill">
            <div class="caption">
                Docker
            </div>
            <img src="../../../assets//images/docker.webp">
        </div>
        <div class="skill">
             <div class="caption">
                 Nginx
            </div>
            <img src="../../../assets//images/nginx.png">
        </div>
    </div>
</div>