.skill-and-tools-container {
    padding: 0 5%;
    height: calc(100vh - 60px);
    background: #DCD6F7;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 10%;

    .content-container {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        width: fit-content;

        .heading {
            font-size: 60px;
        }

        .para {
            font-size: 28px;
        }
    }

    .skills-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .skill {
            flex: 0 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            .caption{
                line-height: 60px;
                font-size: 20px;
            }
            img{
                height: 100px;
            }
        }
    }
}