<div class="skill-and-tools-container">
    <div class="content-container">
        <div class="heading">
            SKILL AND TOOLS
            <br>
        </div>
        <div class="para">
            My Toolbox and the things I am Proficient in:
        </div>
    </div>
    <div class="skills-container">
        <div class="sub-container">
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==0?'display':''">
                    Angular
                </div>
                <img src="../../../assets//images/angular.png" [ngClass]="(counter | async)==0?'blur':''">
            </div>
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==1?'display':''">
                    HTML
                </div>
                <img src="../../../assets//images/html.png" [ngClass]="(counter | async)==1?'blur':''">
            </div>                
        </div>
        <div class="sub-container">
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==2?'display':''">
                    CSS
                </div>
                <img src="../../../assets//images/css.png" [ngClass]="(counter | async)==2?'blur':''">
            </div>
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==3?'display':''">
                    TypeScript
                </div>
                <img src="../../../assets//images/ts.png" [ngClass]="(counter | async)==3?'blur':''">
            </div>    
        </div>
        <div class="sub-container">
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==4?'display':''">
                    Material
                </div>
                <img src="../../../assets//images/angular-material.png" [ngClass]="(counter | async)==4?'blur':''">
            </div>
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==5?'display':''">
                    Three.js
                </div>
                <img src="../../../assets//images/three.png" [ngClass]="(counter | async)==5?'blur':''">
            </div>                
        </div>
        <div class="sub-container">
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==6?'display white':''">
                    Git
                </div>
                <img src="../../../assets//images/git.png" [ngClass]="(counter | async)==6?'blur':''">
            </div>
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==7?'display':''">
                    Express.js
                </div>
                <img src="../../../assets//images/expressjs.png" [ngClass]="(counter | async)==7?'blur':''">
            </div>
        </div>
        <div class="sub-container">
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==8?'display':''">
                    Spring Boot
                </div>
                <img src="../../../assets//images/spring.png" [ngClass]="(counter | async)==8?'blur':''">
            </div>
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==9?'display':''">
                    SQL
                </div>
                <img src="../../../assets//images/sql.png" [ngClass]="(counter | async)==9?'blur':''">
            </div>
        </div>
        <div class="sub-container">
            <div class="skill">
                <div class="caption" [ngClass]="(counter | async)==10?'display':''">
                    Docker
                </div>
                <img src="../../../assets//images/docker.webp" [ngClass]="(counter | async)==10?'blur':''">
            </div>
            <div class="skill">
                 <div class="caption" [ngClass]="(counter | async)==11?'display':''">
                     Nginx
                </div>
                <img src="../../../assets//images/nginx.png" [ngClass]="(counter | async)==11?'blur':''">
            </div>
        </div>
    </div>
</div>