<div class="home-container">
    <div class="content-container">
        <div class="content-row">
            <img class="profile-image"  src="../../../assets/images/profile-image.jpeg"/>
        </div>
        <div class="content-row">
            <div class="line-1">Hi, my name is</div>
            <div class="line-2">Hrithik Adhikari.</div>
            <div class="line-3">A curiosity-driven engineer.</div>
            <div class="line-4">Full Stack Engineer. Whimsical Specialist.</div>
            <div class="line-5">Brings ideas to life with code.</div>
        </div>
    </div>
</div>