<div class="app">
    <div class="nav-bar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="page-container">
        <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
            <app-home class="section" ></app-home>
            <app-about class="section" ></app-about>
            <app-skill-and-tools class="section" ></app-skill-and-tools>
            <app-work class="section"  ></app-work>
            <app-contact class="section"  ></app-contact>
        </div>
    </div>
</div>