@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(~fullpage.js/dist/fullpage.min.css);
/* You can add global styles to this file, and also import other style files */



html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-content: stretch;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}


.fp-tableCell {
    vertical-align: unset !important;
}